h1 Hello World!

script(src="http://loginza.ru/js/widget.js", type="text/javascript")
iframe(src="https://loginza.ru/api/widget?overlay=loginza&token_url=http://"+host+"/login", style="width:359px;height:300px;", scrolling="no", frameborder="no")
